<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Concurrent Dogs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19D47D492B8F890000A3D70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19D47D5F2B8F890200A3D70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19D47D692B8F890200A3D70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
